*{
  margin: 0;
  padding: 0;
}

html,body{
  background-color: rgb(1, 1, 33);
  font-family: Roboto, sans-serif;
}

.App{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tareas-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  min-height: 540px;
  background-color: rgb(77, 77, 77);
  border: 4px solid white;
  border-radius: 15px;
}

.tareas-titulo{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
